[buildout]
develop = .
parts =
    serve
    closurebuilder
    test

unzip = true

extensions = mr.developer

sources-dir = checkouts
auto-checkout = *
# always-checkout = false

[sources]
closure = svn http://closure-library.googlecode.com/svn/trunk egg=false

[deploy.ini]
recipe = collective.recipe.template
input = deploy.ini.in
output = deploy.ini

[serve]
recipe = zc.recipe.egg
scripts = paster=serve
arguments =
    args = ["serve", "${deploy.ini:output}"] + sys.argv[1:]
eggs =
    pwt.closure
    PasteScript
    PasteDeploy

[closurebuilder]
recipe = zc.recipe.egg
eggs =
    pwt.closure

[test]
recipe = zc.recipe.egg
scripts = nosetests=test
arguments =
    argv = sys.argv[0:1]
    +
    ["--nocapture",
     "--nologcapture",
     "--exe",
    ] + sys.argv[1:]
eggs =
    nose
    pwt.closure [test]
